@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=PT+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* this is shalini */

.gradient-text {
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-dropin {
  transform: scale(0);
  animation: dropin 300ms linear forwards;
  animation-iteration-count: 1;
}

@keyframes dropin {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.animate-rotate {
  transform-origin: top;
  transform: rotate(15deg);
  animation: increase 1s linear forwards;
  animation-iteration-count: 1;
}

@keyframes increase {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.animate-width {
  width: 0;
  overflow: hidden;
  animation: animWidth 1s linear forwards;
  animation-iteration-count: 1;
}

@keyframes animWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.mostly-customized-scrollbar {
  overflow: auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Demonstrate a "mostly customized" scrollbar
   * (won't be visible otherwise if width/height is specified) */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  /* or add it to the track */
}

.text-left {
  text-orientation: sideways;
}
