@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=PT+Sans&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-text {
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-dropin {
  transform: scale(0);
  animation: dropin 300ms linear forwards;
  animation-iteration-count: 1;
}

@keyframes dropin {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.animate-rotate {
  transform-origin: top;
  transform: rotate(15deg);
  animation: increase 1s linear forwards;
  animation-iteration-count: 1;
}

@keyframes increase {
  0% {
    transform: rotate(15deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

.animate-width {
  width: 0;
  overflow: hidden;
  animation: animWidth 1s linear forwards;
  animation-iteration-count: 1;
}

@keyframes animWidth {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.mostly-customized-scrollbar {
  overflow: auto;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Demonstrate a "mostly customized" scrollbar
   * (won't be visible otherwise if width/height is specified) */
.mostly-customized-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: transparent;
  /* or add it to the track */
}

.text-left {
  text-orientation: sideways;
}

.loading-animation {
  /* height: 100px;
  width: 100px;
  border: 0;
  border-top: 8px solid #0077b5;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  animation: loading-animation 2s linear infinite; */
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #008ae6;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: animate 1s ease-in-out infinite alternate;
}
.dot:nth-child(1) {
  animation-delay: -0.25s;
}
.dot:nth-child(2) {
  animation-delay: -0.5s;
}
.dot:nth-child(3) {
  animation-delay: -0.75s;
}
.dot:nth-child(4) {
  animation-delay: -1s;
}

@keyframes animate {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(5px);
  }
}
